*{
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

html{
      margin: 0;
      align-items: center;
      justify-content: center;
}

body{
    margin: 0;
    justify-content: center;
    background-color: black;
    color: #fff;
    background: #000000;
  --gap: 5em;
  --line: 1px;
  --color: rgba(255, 255, 255, 0.2);

  background-image: linear-gradient(
      -90deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    ),
    linear-gradient(
      0deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    );
  background-size: var(--gap) var(--gap);
}



.div_spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 70.4px;
    height: 70.4px;
    --clr: rgb(247, 197, 159);
    --clr-alpha: rgb(247, 197, 159,.1);
    animation: spinner 1.6s infinite ease;
    transform-style: preserve-3d;
  }
  
  .spinner > div {
    background-color: var(--clr-alpha);
    height: 100%;
    position: absolute;
    width: 100%;
    border: 3.5px solid var(--clr);
  }
  
  .spinner div:nth-of-type(1) {
    transform: translateZ(-35.2px) rotateY(180deg);
  }
  
  .spinner div:nth-of-type(2) {
    transform: rotateY(-270deg) translateX(50%);
    transform-origin: top right;
  }
  
  .spinner div:nth-of-type(3) {
    transform: rotateY(270deg) translateX(-50%);
    transform-origin: center left;
  }
  
  .spinner div:nth-of-type(4) {
    transform: rotateX(90deg) translateY(-50%);
    transform-origin: top center;
  }
  
  .spinner div:nth-of-type(5) {
    transform: rotateX(-90deg) translateY(50%);
    transform-origin: bottom center;
  }
  
  .spinner div:nth-of-type(6) {
    transform: translateZ(35.2px);
  }
  
  @keyframes spinner {
    0% {
      transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
    }
  
    50% {
      transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
    }
  
    100% {
      transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
    }
  }

header{
  max-height: 20vh;
}

.header__klickla{
    font-size: 64px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vse {
    margin: 0 auto;
    margin-top: 25vh;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
}
.vse form{
    margin-top: 16px;
}


.header__button__ip {
  max-width: fit-content;
    margin: 0 auto;
    margin-top: 16px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: color 0.5s, opacity 0.5s;
}

@media (hover: hover){
  .header__button__ip:hover{
    color: #353535;
  }
}

@media (hover: none){
  .header__button__ip:active{
    color: #fff;
  }
}
/*///////////////////////////////*/
.hidden {
  display: none;
}
.fade-out {
  animation: fadeOutScale 1s forwards;
}
.fade-in {
  animation: fadeInScale 1s forwards;
}
@keyframes fadeOutScale {
  to {
    opacity: 0;
    transform: scale(0.8);
  }
}
@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
/*///////////////////////////////*/
.header__button__ip.fade-out {
    opacity: 0;
}
.header__button__ip.fade-in {
    opacity: 1;
}

.link{
    text-decoration: none;
    color: #fff;
    transition: all ease-in-out 0.3s;
}

.link:hover{
    color: red;
}


.active__button {
  color: #fff;
  cursor: pointer;
  border: 2px solid #24b4fb;
  background-color: #24b4fb;
  border-radius: 0.9em;
  padding: 0.8em 1.2em 0.8em 1em;
  transition: all ease-in-out 0.2s;
  font-size: 16px;
 }
 
 .active__button span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
 }
 
 .active__button:hover {
  background-color: #0071e2;
 }


.discord{
  max-width: 50px;
  max-height: 50px;
}

.discord__button{
  padding: 0.2em 0.8em 0.2em 0.8em;
  background-color: #5662F6;
  border: 2px solid #5662F6;
}
.discord__button:hover{
  border: 2px solid #24b4fb;
}

/*///////////////////////////*/
/* .new-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
} */

.card1 {
  position: absolute;
  top: 30vh;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 290px;
  height: 70px;
  background: #353535;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: left;
  backdrop-filter: blur(10px);
  transition: 0.5s ease-in-out;
}

.card1:hover {
  cursor: pointer;
  transform: scale(1.05) translate(-50%, -50%);
}

.card2 {
  position: absolute;
  top: 40vh;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 290px;
  height: 70px;
  background: #353535;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: left;
  backdrop-filter: blur(10px);
  transition: 0.5s ease-in-out;
}

.card2:hover {
  cursor: pointer;
  transform: scale(1.05) translate(-50%, -50%);
}

.card3 {
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 290px;
  height: 70px;
  background: #353535;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: left;
  backdrop-filter: blur(10px);
  transition: 0.5s ease-in-out;
}

.card3:hover {
  cursor: pointer;
  transform: scale(1.05) translate(-50%, -50%);
}

.card4 {
  position: absolute;
  top: 60vh;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 290px;
  height: 70px;
  background: #353535;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: left;
  backdrop-filter: blur(10px);
  transition: 0.5s ease-in-out;
}

.card4:hover {
  cursor: pointer;
  transform: scale(1.05) translate(-50%, -50%);
}

.number {
  font-size:32px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 10px;
  background: #fff;
  font-weight: 600;
  color: #000000;
}

.textBox {
  width: calc(100% - 90px);
  margin-left: 10px;
  color: white;
}

.textContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-heading {
  font-size: 16px;
  font-weight: bold;
}

.card-text {
  font-size: 12px;
  font-weight: lighter;
}
/*///////////////////////////*/